h1, div, nav, .header, ul, .header_nav, img, .section2_2, footer {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #282828;  
  text-rendering: optimizeLegibility;
  line-height: 1;
  background-image: url('img/background1.png');
}

.header {
  /* background-color: rgb(107, 93, 93);
  width: 100%;
  height: 250px;
  background-image: url("img/logo3.jpg");
  background-repeat: no-repeat;
  background-size: contain; */
  border: 0;
  margin : 0;
  padding: 0;
}

.choose-f {
  text-align: center;
  font-family: 'Faster One', cursive;
  font-size: 50px;
  color: rgb(173, 185, 59);
}

.pres-n {
  text-align: center;
  font-family: 'Nosifer', cursive;
  font-weight: bold;
  font-size: 15px;
  color: rgb(223, 222, 236);
}
.pres-f {
  margin-right: 10px;
}

ul {
  list-style: none;
}

.players {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 10px;
}

.radio {
  width: 100px;
  height: 250px;
  background-image: url('img/ronda.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.text-center {
  text-align: center;
}

.game-title {
  background-image: url('img/title');
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-col {
  display: flex;
  flex-direction: column;
}
.figureF  {
  width : 100px;
  height: 200px;
  background-color: #b9b5a2;
  border: 1px solid #080c38;
  border-radius: 5%;
}

.combat {
  display: none;
  width: 100%;
  height: 650px;
  background-image: url('img/photo1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: space-between;
}

.stat {
  justify-content: space-between;
  background-color: #ece8a6;
}

.vs {
  align-self: center;
  background-image: url('img/vs.png');
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.stat-player {
  width: 40%;
}

.name {
  justify-content: space-between;
  font-family: 'Stalinist One', cursive;
  font-size: 13px;
  font-weight: 40px;
}

#barre-life-f, #barre-life-a {
  height: 25px;
  background-color: rgb(243, 247, 4);
  border: 0.5px solid #ffffff;
}

#barre-life-a {
  justify-content: flex-end;
}

#barre-progress-f, #barre-progress-a {
  height: 25px;
  width: 100%;
  background-color: red;
  border: 0.5px solid #ffffff;
  border-right: 0;
}

#barre-power-f, #barre-power-a {
  height: 15px;
  background-color: rgb(236, 253, 0);
  border: 0.5px solid #ffffff;
}

#barre-power-a {
  justify-content: flex-end;
}

#barre-progress-power-f, #barre-progress-power-a {
  height: 15px;
  width: 100%;
  background-color: rgb(65, 53, 143);
  border: 0.5px solid #ffffff;
  border-right: 0;
}

.fighter {
  justify-content: space-around;
  flex-grow: 2;
  align-items: flex-end; 
}

#img-f {
  width : 150px;  
  height : 300px;  
  position: absolute;
  left: 10%;
  background-repeat: no-repeat;
  background-size: contain;
  /* animation-duration: 2s; */
}

#img-a {
  width : 150px;  
  height : 300px; 
  position: absolute; 
  right : 10%; 
  background-repeat: no-repeat;
  background-size: contain;
  /* animation-name: attack; */  
}

.actions {
  justify-content: space-around;
  background-color: #e9e8e3; 
}
 
#score-f, #life-f, #score-a, #life-a {
  width: 30px;
}

.game-over {
  width: 400px;
  height: 300px;
  display : none;
  z-index: 3;
  opacity: 0.8;
  position: absolute;
  top: 120px;
  left: 35%;
}
.final-msg {
  font-size : 20px;
}

@keyframes attack1-ryu {

  0% {
   left: 9%;
  }
  100% {
    width: 1000px;
    background-image: url('img/ryu/ryu-attack1.gif');
    box-sizing: content-box;
    height: 310px;
    left:42%;
    z-index: 2;
  }

}

@keyframes attack2-ryu {
  0% {
    left:9%;
  }
  100% {
    width: 600px;
    height: 400px;
    left:40%;
    /* background-position-x: -100px; */
    background-image: url('img/ryu/ryu-attack33.gif');
    /* background-size: cover; */
    /* background-position-y: -90px; */
    /* box-sizing: content-box; */
    z-index: 2;
  }
}

@keyframes ryu-tombe {
  to {
    width: 250px;
    background-image: url('img/ryu/ryu-tombe.gif');
    background-size: cover;
    /* background-position-y: -50px; */
    /* background-position-x: 50px; */
    /* width: 500px;
    height: 300px; */
  }
}

@keyframes attack1-ken {
  0% {
    left:9%;
  }
  100% {
    /* background-position-y: -50px; */
    /* background-position-x: -50px; */
    width: 600px;
    height: 310px;
    left:40%;
    background-image: url('img/ken/ken-attack3.gif');
    background-size: cover;
    box-sizing: content-box;
    z-index: 2;
  }
}

@keyframes attack2-ken {
  0% {
    left:9%;
  }
  100% {
    width: 500px;
    left:40%;
    background-image: url('img/ken/ken-attack1.gif');
    /* background-position-y: -50px; */
    height: 500px;
    z-index: 2;
  }
}

@keyframes attack1-ken-a {
  0% {
    right: 9%;
  }
  100% {
    width: 500px;
    /* height: 300px; */
    right: 45%;
    background-image: url('img/ken/ken-attack1-a.gif');
    z-index: 2;
  }
}

@keyframes attack2-ken-a {
  0% {
    right: 9%;
  }
  100% {
    width: 500px;
    height: 500px;
    right: 45%;
    background-image: url('img/ken/ken-attack22.gif');
    /* background-color: #d4bf98; */
    background-size: cover;
    background-position-x: -70px;
    z-index: 2;
  }
}

@keyframes ken-tombe {
  to {
    background-image: url('img/ken/ken-tombe-a.gif');
    /* background-size: cover; */
    /* background-position-y: -50px; */
    /* background-position-x: 50px; */
    /* width: 500px;
    height: 300px; */
  }
}

@keyframes ken-shocked {
  to {
    background-image: url('img/ken/ken-shocked.gif');
  }
}

@keyframes ryu-jump {
  100% {
    top : -5px;
    background-image: url('img/ryu/ryu-jump1.gif');
    background-size: cover;
  } 
}

@keyframes ken-jump {
  100% {
    top : -1px;
    background-image: url('img/ken/ken-jump2.gif');
}
}

@keyframes ken-jump-a {
  100% {
    top : -1px;
    background-image: url('img/ken/ken-jump-a.gif');
}
}


@keyframes attack1-blanka {
  0% {
    left:9%;
  }
  100% {
    background-size: cover;
    width: 500px;
    height: 300px;
    left:38%;
    /* background-position-y: -200px; */
    background-image: url('img/blanka/blanka-attack1.gif');
    z-index: 2;
  }
}

@keyframes attack2-blanka {
  0% {
    left:9%;
  }
  100% {
    /* background-size: cover; */
    width: 500px;
    height: 300px;
    left: 55%;
    /* background-position-y: -200px; */
    background-image: url('img/blanka/blanka-attack2.gif');
    z-index: 2;
  }
}

@keyframes blanka-jump {
  to {
    top : -1px;
    /* width: 150px; */
    background-image: url('img/blanka/blanka-jump.gif');
}
}

@keyframes blanka-tombe {
  to {
    /* width: 250px; */
    background-image: url('img/blanka/blanka-tombe.gif');
    /* background-size: cover; */
    /* background-position-y: -50px; */
    /* background-position-x: 50px; */
    /* width: 500px;
    height: 300px; */
  }
}

@keyframes attack1-zangile {
  0% {
    left:9%;
  }
  100% {
    /* background-size: cover; */
    width: 500px;
    left:40%;
    /* background-position-y: -200px; */
    background-image: url('img/zangile/zangile-attack.gif');
    z-index: 2;
}
}

@keyframes attack2-zangile {
  0% {
    left:9%;
  }
  100% {
    /* background-size: cover; */
    width: 500px;
    height: 400px;
    left:55%;
    /* background-position-y: -200px; */
    background-image: url('img/zangile/zangile-attack3.gif');
    z-index: 2;
}
}

@keyframes zangile-jump {
  to {
    top : -1px;
    /* width: 150px; */
    background-image: url('img/zangile/zangile-jump.gif');
}
}

@keyframes zangile-tombe {
  to {
    /* width: 250px; */
    background-image: url('img/zangile/zangile-tombe.gif');
    /* background-size: cover; */
    /* background-position-y: -50px; */
    /* background-position-x: 50px; */
    /* width: 500px;
    height: 300px; */
  }
}

@keyframes attack1-dhalsim {
  0% {
    left:9%;
  }
  100% {
    /* background-size: cover; */
    width: 500px;
    left:50%;
    /* background-position-y: -50px; */
    background-image: url('img/dhalsim/dhalsim-attack1.gif');
    z-index: 2;
}
}

@keyframes attack2-dhalsim {
  0% {
    left:9%;
  }
  100% {
    /* background-size: cover; */
    width: 400px;
    left:60%;
    /* background-position-y: -50px; */
    background-image: url('img/dhalsim/dhalsim-attack2.gif');
    z-index: 2;
}
}

@keyframes dhalsim-jump {
  to {
    top : -1px;
    background-image: url('img/dhalsim/dhalsim-jump.gif');
}
}

@keyframes dhalsim-tombe {
  to {
    /* width: 250px; */
    background-image: url('img/dhalsim/dhalsim-tombe.gif');
    
  }
}

@keyframes attack1-guile {
  0% {
    left:9%;
  }
100% {
  /* background-size: cover; */
  width: 400px;
  left:50%;
  /* background-position-y: -50px; */
  background-image: url('img/guile/guile-attack1.gif');
  z-index: 2;
}
}

@keyframes attack2-guile {
  0% {
    left:9%;
  }
100% {
  /* background-size: cover; */
  width: 400px;
  left:50%;
  /* background-position-y: -50px; */
  background-image: url('img/guile/guile-attack2.gif');
  height: 500px;
}
}

@keyframes guile-jump {
  to {
    top : -1px;
    background-image: url('img/guile/guile-jump.gif');
}
}

@keyframes attack1-chanli-a {
  0% {
    right: 9%;
    background-color: #d4bf98;
  }
  100% {
    width: 500px;
    right: 45%;
    background-image: url('img/chanli/chanli-attack1-a.gif');
    /* height: 450px; */
    background-size: cover;
    z-index: 2;
  }
}

@keyframes attack2-chanli-a {
  0% {
    right: 9%;
    background-color: #d4bf98;
  }
  100% {
    width: 400px;
    right: 45%;
    background-image: url('img/chanli/chanli-attack2-a.gif');
    height: 500px;
    /* background-size: cover; */
    z-index: 2;
  }
}

@keyframes chanli-tombe {
  to {
    background-image: url('img/chanli/chanli-tombe-a.gif');
    
  }
}

@keyframes chanli-shocked {
  to {
    background-image: url('img/chanli/chanli-shocked.gif');
    /* background-size: cover; */
    /* background-position-y: -50px; */
    /* background-position-x: 50px; */
    /* width: 500px;
    height: 300px; */
  }
}

@keyframes chanli-jump-a {
  to {
    top : -5px;
    background-image: url('img/chanli/chanli-jump.gif');
    background-size: cover;
    /* background-position-y: -50px; */
    /* background-position-x: 50px; */
    /* width: 500px;
    height: 300px; */
  }
}

@keyframes attack1-bison-a {
  0% {
    right: 9%;
    background-color: #d4bf98;
  }
  100% {
    width: 500px;
    right: 45%;
    background-image: url('img/bison/bison-attack1-a.gif');
    height: 450px;
    /* back ize: cover; */
    z-index: 2;
  }
}

@keyframes attack2-bison-a {
  0% {
    right: 9%;
    background-color: #d4bf98;
  }
  100% {
    width: 500px;
    right: 30%;
    background-image: url('img/bison/bison-attack2-a.gif');
    height: 400px;
    /* background-size: cover; */
    z-index: 2;
  }
}

@keyframes bison-jump-a {
  to {
    top : -5px;
    background-image: url('img/bison/bison-jump.gif');
    background-size: cover;
    /* background-position-y: -50px; */
    /* background-position-x: 50px; */
    /* width: 500px;
    height: 300px; */
  }
}

@keyframes bison-tombe {
  to {
    background-image: url('img/bison/bison-tombe-a.gif');
    /* background-size: cover; */
    /* background-position-y: -50px; */
    /* background-position-x: 50px; */
    /* width: 500px;
    height: 300px; */
  }
}